@model BibliotecaOnline.Models.LivroExemplar
@{
    ViewBag.Title = "Exemplares ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
<link href="~/Scripts/adminlte/components/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/adminlte/components/select2/dist/js/select2.min.js"></script>
<script src="~/Scripts/adminlte/components/select2/dist/js/i18n/pt-BR.js"></script>

<style>
    .div_ {
        overflow: auto !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 22px !important;
    }
</style>

<script>
    $(document).ready(function () {
        $('.select2').select2({
            width: '100%',
            placeholder: "Selecione",
            allowClear: true
        });

     $("#Campos").select2({
        ajax: {
           url: '@Url.Action("AutoCompleteCampos", "Exemplares")',
            dataType: 'json',
            type: 'POST',
            delay: 250,
            data: function (params) {
                return {
                    campos: params.term,
                };
            },
            processResults: function (data, search) {
                return {
                    results: $.map(data, function (item) {
                      return {
                        id: item.Id ,
                          text: item.Nome,
                          value: true
                      }
                   }),
               };
            },
            cache: true
        },
        templateResult: function (item) {
          if (item.loading) return item.text;
          return item.text;
        },
        escapeMarkup: function (markup) { return markup; },
        minimumInputLength: 3
});
    });

</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <br />
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Exemplares</a></li>
            <li><a href="#">Novo Cadastro</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cadastro de Exemplares</h3>
                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm("Create", "Exemplares", FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="box-body">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.LivroId, "Livro", htmlAttributes: new { @class = "" })
                                @Html.DropDownList("LivroId", null, htmlAttributes: new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.LivroId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Campos, htmlAttributes: new { @class = "" })
                                <select id="Campos" name="Campos" class="form-control select2"></select>
                                @Html.ValidationMessageFor(model => model.Campos, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Estante, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Estante, new { htmlAttributes = new { @class = "form-control", @placeholder = "Estante", @required = true } })
                                @Html.ValidationMessageFor(model => model.Estante, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Setor, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Setor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Setor", @required = true } })
                                @Html.ValidationMessageFor(model => model.Setor, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantidade", @required = true } })
                                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                            <a href="@Url.Action("Index", "Exemplares")" class="btn btn-default">Voltar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>