@model IEnumerable<BibliotecaOnline.Models.ViewModel.EmprestimosViewModel>

@{
    ViewBag.Title = "Devoluções";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <br />
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Devoluções</a></li>
            <li><a href="#">Lista de Devoluções </a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Lista de Devoluções</h3>
                    <div class="pull-right">
                        <a href="@Url.Action("Create", "Devolucoes")" class="btn btn-primary"><i class="fa fa-plus"></i> Novo</a>
                    </div>
                </div>
                <div class="div_">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <table class="table table-bordered col-md-12">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Usuario)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Campus)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Emprestimo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Devolucao)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Colaborador)
                                        </th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Usuario)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Campus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Emprestimo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Devolucao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Colaborador)
                                            </td>
                                            <td> @Html.ActionLink("Detalhes", "Details", new { id = item.Id })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


