@model IEnumerable<BibliotecaOnline.Models.Livro>
@{
    ViewBag.Title = "Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <br />
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Livros</a></li>
            <li><a href="#">Novo Livros</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Lista de Livros</h3>
                    <div class="pull-right">
                        <a href="@Url.Action("Create", "Livros")" class="btn btn-primary"><i class="fa fa-plus"></i> Novo</a>
                    </div>
                </div>
                <div class="div_">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Titulo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Edicao)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Autor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Editora)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ano)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Idioma)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ISBN)
                                        </th>

                                        <th></th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Titulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Autor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Editora)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ano)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Idioma)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ISBN)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Edicao)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                                                @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>